Adafruit-Blinka==8.26.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-led-animation==2.7.4
adafruit-circuitpython-neopixel==6.3.10
adafruit-circuitpython-pixelbuf==2.0.3
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.55.0
Adafruit-PureIO==1.1.11
amqp==5.2.0
aniso8601==9.0.1
billiard==4.2.0
blinker==1.7.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.3.4
MarkupSafe==2.1.3
prompt-toolkit==3.0.41
pyftdi==0.55.0
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
typing_extensions==4.8.0
tzdata==2023.3
vine==5.1.0
wcwidth==0.2.12
Werkzeug==3.0.1